/**{
  margin: 0;
  padding: 0;
}*/

body{
  /*width:1200px;*/
  background-color:rgba(128, 128, 128, 0.19);
}
.wrapper{
margin: 0 auto;
  border:1px solid rgba(128, 128, 128, 0.30);
  width:420px;
  background-color: white;
  padding:40px;
  height: 600px;


}
.img{
text-align: center;
}
